body {
  background: #C3D898;
  font-size: 16px;
}

.jumbotron {
  text-align: center;
  color: #70161E;
  background: #596F62;
}

#newPost {
  text-align: center;
  margin-top: 25px;
}

img {
  max-width: 100%;
}

.panel {
  text-align: center;
  background: #7EA16B;
}

.panel-heading {
  background: #596F62;
}

button, input, textarea {
  background: #1C3144;
  color: #fff;
}

.well {
  background: #7EA16B;
}

a {
  color: #1C3144;
}
