<div class="row">
  <div class="col-md-8">
    {{new-post-tile model=model savePost="savePost" postFormShow="postFormShow"}}
  </div>
  <div class="col-md-4">
    <h2>Posts List</h2>
    <div class="well">
      {{#each model.posts as |post|}}
        {{list-tile post=post}}
      {{/each}}
    </div>
  </div>
</div>
