<div class="row">
  <div class="col-md-8">
    <h2>Recent Posts</h2>
    {{#each model.posts as |post|}}
      {{post-tile post=post}}
    {{/each}}
  </div>
  <div class="col-md-4">
    <h2>Posts List</h2>
    <div class="well">
      {{#each model.posts as |post|}}
        {{list-tile post=post}}
      {{/each}}
    </div>
  </div>
</div>
